/*--------------------------------------------------------
Start Style content
----------------------------------------------------------*/
/*--------------Section banner---------------------------*/
.section-banner {
    background-color: var(--text-head);
}
.section-banner h2 {
    color: #ffff;
}

/*--------------Section Content---------------------------*/
.section-content {
    /* background-color: #f8f9fa; */
}

.card-body-content {
    padding: 1rem;
    background-color: rgb(209 209 209 / 27%);
}

.card-body-content p,
smalldate {
    font-size: 13px;
}

.card-body-content .img-icon {
    height: 14px;
    margin-right: 2px;
    margin-top: -3px;
    opacity: 0.7;
}

/*--------------------------------------------------------
Start: Responsive
----------------------------------------------------------*/
/* Nest Hub*/
@media (max-width: 1199px) {
}

/* Surface Pro 7*/
@media (max-width: 991px) {
    /*---- Nav ----*/
    .navbar-brand {
        margin-left: 80px;
    }

    .navbar-toggler {
        position: fixed;
        left: 15px;
        top: 8px;
    }
    /*---- Nav Dropdown ----*/
    nav .menu-right {
        position: fixed;
        right: 15px;
        top: 10px;
    }

    /*---- Nav Dropdown ----*/
    .navbar .nav-item .dropdown-menu.show {
        display: block !important;
    }

    .navbar .nav-item .dropdown-menu {
        display: none !important;
    }
}

/* iPad Mini*/
@media (max-width: 769px) {
}

/* Samsung Galaxy S8+  Horizontal*/
@media (max-width: 767px) {
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
}

/* Surface Dup*/
@media (max-width: 569px) {
}

/*iPhone XR*/
@media (max-width: 481px) {
}

/*Galaxy S20 Ultra*/
@media (max-width: 414px) {
}

/*iPhone SE*/
@media (max-width: 376px) {
}

/* Galaxy Folde*/
@media (max-width: 321px) {
}

/*--------------------------------------------------------
    End: Responsive
----------------------------------------------------------*/

html {
    scroll-behavior: smooth;
}
/*--- Style Scrollbar ---*/
/*.custom-scrollbar-css::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar-css::-webkit-scrollbar {
    height: 4px;
}

.custom-scrollbar-css::-webkit-scrollbar-track {
    background: #e3e3e3;
}

.custom-scrollbar-css::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #737373;
}*/

/*--- Style Placeholder ---*/
::-webkit-input-placeholder {
    /* Edge */
    color: #d1d1d1 !important;
}

:-ms-input-placeholder {
    /* Internet Explorer */
    color: #d1d1d1 !important;
}

::placeholder {
    color: #d1d1d1 !important;
}
