
ul {
    list-style: none;
}
/*--------------------------------------------------------
Start Style 
----------------------------------------------------------*/
/*--------------Section-1-banner---------------------------*/
.section-banner {
    background-color:var(--text-head);
    min-height: 240px;
    padding: 60px 15px;
}
.section-banner h2 {
    font-size: 40px;
    color: var(--text-btn);
    padding-right: 120px;
    /* border: 1px solid; */
}
.section-banner h2 > img {
    height: 100px;
    right: -10px;
}

/*--------------Section-2-result-test---------------------------*/
.frame-padding {
    padding: 50px 6%;
}

.section-result-test{
    padding: 60px 0px 60px;
    background-color: transparent;
    position: relative;
    margin-top: -100px;
}

.section-result-test .frame-padding {
    padding: 30px 6%;
}

.section-result-test:before {
    content: "";
    position: absolute;
    /* background: var(--text-head);
    background-image:url('../image/quiz/bg-quizresult.png'); */
    height: 70px;
    width: 100%;
    top: 0px;
    left: 0px;
}

.section-result-test .cardresult {
    background: #fff8f4;
    margin: 0px auto 0px;
    width: 90%;
    box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
    /* border: 6px solid var(--btn-bg); */
    border-radius: 30px;
    padding: 0px 20px 0px;
}

.section-result-test .cardresult ul {
    padding: 20px;
}

.section-result-test .cardresult li {
    margin-bottom: 30px;
    margin-top: 30px;
}

.section-result-test img {
    height: 60px;
}
.section-result-test .cardresult h5 {
    color: var(--text-head);
    margin-top: 15px;
    font-size: 1rem;
}

.section-result-test .cardresult-border{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: -30px;
    border-radius: 20px;
    background: #fff;
    padding: 30px 0px;
}

/*--- Section-3-experience ---------*/
.section-experience {
    padding: 10px 0px 80px;
    background-color: var(--theme-bg);
    position: relative;
    margin-top: -40px;
}
.section-experience:before {
    content: "";
    position: absolute;
    background: var(--text-btn);
    background-image:url('../image/quiz/bg-quizresult-sec2.png');
    height: 90px;
    width: 100%;
    top: 0px;
    left: 0px;
}
.section-experience .img-fluid {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center 5%;
}

.section-experience .card-career{
    padding: 10px;
    margin: 15px 0px;
    border: 1px solid;
    border-radius: 20px;
    background-color: var(--text-btn);
}

.section-experience .card-career h5 {
    min-height: 60px;
}

.section-experience .card-career .btn-outline-secondary {
    font-size: 13px;
    padding: 2px 5px;
    font-weight: normal;
    -webkit-line-clamp: 1;
}




/*--------------Section-4-send-result---------------------------*/
.section-send-result {
    background-color:var(--text-head);
    min-height: 240px;
    padding: 60px 15px;
    position: relative;
}

.section-send-result:before {
    content: "";
    position: absolute;
    background: var(--theme-bg);
    background-image:url('../image/quiz/bg-quizresult-sec3.png');
    height: 70px;
    width: 100%;
    top: 0px;
    left: 0px;
}

.section-send-result h2 {
    font-size: 30px;
    color: var(--text-btn);
    /* padding-right: 120px; */
    /* border: 1px solid; */
}
.section-send-result h2 > img {
    height: 100px;
    right: -10px;
}

.section-send-result .box-search {
    position: relative;
    max-width: 100%;
    width: 500px;
    display: inline-block;
}
.section-send-result .box-search input {
    height: 50px;
    padding: 10px 15px;
    background: #f2f2f2 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 30px;
    border: none;
    font-size: 1.3rem;
}
.section-send-result .box-search button {
    position: absolute;
    top: 0px;
    right: 15px;
    opacity: 0.3;
}


.btn-quiz {
    background: var(--btn-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 40px;
    /* border: 2px solid #f9e9b6; */
    font-size: 30px;
    color: #fff;
    position: relative;
    z-index: 1;
}
.btn-quiz > img {
    filter: brightness(0) invert(1);
    height: 40px;
    margin-left: 10px;
    transition: all ease 0.3s;
}
.btn-quiz:hover > img {
    margin-left: 15px;
    margin-right: -5px;
}
.btn-quiz:hover {
    background-color:var(--text-head);
    border: 1px solid #fff;
    color: #fff;
}

/*--------------------------------------------------------
Start: Responsive
----------------------------------------------------------*/
/* Nest Hub*/
@media (max-width: 1199px) {
    .section-result-test img {
        height: 50px;
    }
}

/* Surface Pro 7*/
@media (max-width: 991px) {
}

/* iPad Mini*/
@media (max-width: 769px) {
}

/* Samsung Galaxy S8+  Horizontal*/
@media (max-width: 767px) {
   
    .btn-quiz {
        font-size: 1.5rem;
        padding: 15px;
    }

    .section-result-test .cardresult {
        text-align: center;
    }
}

/* Surface Dup*/
@media (max-width: 569px) {
    .section-banner {
        min-height: 200px;
    }

    
}

/*iPhone XR*/
@media (max-width: 481px) {

    .section-banner h2 {
        padding-right: 0px;
    }

    .section-banner h2 > img {
        display: none;
    }
}

/*Galaxy S20 Ultra*/
@media (max-width: 414px) {
}

/*iPhone SE*/
@media (max-width: 376px) {
}

/* Galaxy Folde*/
@media (max-width: 321px) {
}

/*--------------------------------------------------------
    End: Responsive
----------------------------------------------------------*/
