/*--------------------------------------------------------
Start Style register
----------------------------------------------------------*/

.section-resgister{
    background: #f8f9fa;
    background-image: url(../image/background/bg-contact-sec1.png);
    background-repeat: no-repeat;
      background-position: top;
    background-size: contain;
      position: relative;
      padding: 60px 30px;
  }

  .section-resgister:before{
    content: "";
    position: absolute;
    /* background: var(--text-head);
    background-image:url('../image/quiz/bg-quizresult.png'); */
    height: 70px;
    width: 100%;
    top: 0px;
    left: 0px;
  }


  .section-resgister button{
    width: 100%;
  }

  .required:after {
    content: "(ไม่จำเป็นต้องระบุ)";
    margin-left: 5px;
    font-size: 14px;
    color: #adb5bd;
  }

  .form-register {
      width: 100%;
      max-width: 80%;
      padding: 30px;
      margin: auto;
      box-shadow: 0px 0px 15px rgb(0 0 0 / 15%);
      /* border: 1px solid; */
      border-radius: 20px;
      background: var(--text-btn);
  }

  .form-register .checkbox {
      font-weight: 400;
  }

  .form-register .form-floating:focus-within {
      z-index: 2;
  }

  .form-register input[type="email"] {
      margin-bottom: -1px;
  }

  .form-register input[type="password"] {
      margin-bottom: 10px;
  }

  .register-text-link {
    margin-top: 16px;
    font-size: 16px;
    /* text-align: center; */
  }

  .card-register-1{
    border-right: 1px solid rgb(35 89 170 / 29%) ;
    padding: 20px;
  }

  .card-register-2{
    padding: 20px;
  }

  .card-btn-resgister{
    margin: 0px auto;
    width: 50%;
  }

  .btn-login-icon{
    background-color: rgb(255, 255, 255);
    display: flex;
    font-size: 17.5px;
    text-align: center;
    line-height: 45px;
    min-width: 140px;
    text-decoration: none;
    cursor: pointer;
    color: darkgray;
    border: 2px solid rgb(240, 244, 249);
    border-radius: 4px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    margin-bottom: 8px;
  }

  .btn-primary {
    color: #fff;
    background-color: #2359aa;
    border-color: #2359aa;
    width: 100%;
  }

  .btn-primary:hover {
    color: #fff;
    background-color: var(--btn-bg);
    border-color: var(--btn-bg);
  }


  .btn-login-text {
    width: 16px;
    margin-right: 8px;
  }

  /*--------------------------------------------------------
  Regis-success
  ----------------------------------------------------------*/

  .form-regis-success{
    width: 100%;
    max-width: 40%;
    padding: 30px;
    margin: auto;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 15%);
    /* border: 1px solid; */
    border-radius: 20px;
    background: var(--text-btn);
  }

  .icon-regissuccess {
    font-size: 90px;
    color: #5e9e3b;
  }



  /*--------------------------------------------------------
  Start: Responsive
  ----------------------------------------------------------*/
  /* Nest Hub*/
  @media (max-width: 1199px) {


  }


  /* Surface Pro 7*/
  @media (max-width: 991px) {
      /*---- Nav ----*/
      .navbar-brand {
          margin-left: 80px;
      }

      .navbar-toggler {
          position: fixed;
          left: 15px;
          top: 8px;
      }
      /*---- Nav Dropdown ----*/
      nav .menu-right {
          position: fixed;
          right: 15px;
          top:10px;
      }

      /*---- Nav Dropdown ----*/
      .navbar .nav-item .dropdown-menu.show {
          display: block !important;
      }

      .navbar .nav-item .dropdown-menu {
          display: none !important;
      }
  }


  /* iPad Mini*/
  @media (max-width: 769px) {

  }


  /* Samsung Galaxy S8+  Horizontal*/
  @media (max-width: 767px) {

  }


  /* Surface Dup*/
  @media (max-width: 569px) {
    .form-register {
      width: 100%;
      max-width: 100%;
  }

    .card-register-1 {
      border-right: none;
      border-bottom: 1px solid rgb(35 89 170 / 29%);
  }

  .form-regis-success {
    width: 100%;
    max-width: 100%;
  }

  }


  /*iPhone XR*/
  @media (max-width: 481px) {

  }


  /*Galaxy S20 Ultra*/
  @media (max-width: 414px) {

  }


  /*iPhone SE*/
  @media (max-width: 376px) {

  }


  /* Galaxy Folde*/
  @media (max-width: 321px) {

  }

  /*--------------------------------------------------------
      End: Responsive
  ----------------------------------------------------------*/

  html {
      scroll-behavior: smooth;
  }
  /*--- Style Scrollbar ---*/
  /*.custom-scrollbar-css::-webkit-scrollbar {
      width: 4px;
  }

  .custom-scrollbar-css::-webkit-scrollbar {
      height: 4px;
  }

  .custom-scrollbar-css::-webkit-scrollbar-track {
      background: #e3e3e3;
  }

  .custom-scrollbar-css::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      background-color: #737373;
  }*/

  /*--- Style Placeholder ---*/
  ::-webkit-input-placeholder { /* Edge */
      color: #d1d1d1 !important;
  }

  :-ms-input-placeholder { /* Internet Explorer */
      color: #d1d1d1 !important;
  }

  ::placeholder {
      color: #d1d1d1 !important;
  }


